<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ 'css/bulma.min.css'|staticfile }}">
        <link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|staticfile }}">
        <title>2018 45C Robotics</title>
    </head>
    <body>
        <nav class=" navbar is-info  role navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-brand navbar-item" href="">
                45C Robotics
                </a>
                <div class="navbar-end">
                    <a class="navbar-item" style = "color:white" >
                    Temp 1: <span id="temp"></span>
                    </a>
                    <a class="navbar-item" style = "color:white" >
                    Temp 2: <span id="temp2"></span>
                    </a>
                    <a class="navbar-item" style = "color:white">
                    Voltage 1: <span id="volt"></span>
                    </a>
                    <a class="navbar-item" style = "color:white">
                    Voltage 2: <span id = "volt2"></span>
                    </a>
					<a class = "navbar-item" style = "color:white" ><strong>System Status:</strong>
						<span id="state"></span>
					</a>                    
                </div>
            </div>
        </nav>

        <section class="Aligner " style = "height:100vh">
            <div class="is-grouped">
				<center>
				<!--
                <div class = "Aligner-item">
                    <p>Welcome.</p>
                </div>
                -->
                <br><br>
                <div class="row  Aligner-item">
                    <a class=" button is-primary is-large is-rounded" style = "color:white; text-decoration:none" href="preop.html">Pre-Operation</a>
                </div>
                <br>
                <div class = "Aligner-item">
                    <a class=" is-rounded button is-large is-warning" style = "color:white; text-decoration:none" href="op.html">Pilot Control</a>
                </div>
				</center>                
            </div>
        </section>
        <script src="{{ 'js/jquery.min.js'|staticfile }}"></script>
        <script src="{{ 'js/canvas.min.js'|staticfile }}"></script>
        <script src="{{ 'js/timer.js'|staticfile }}"></script>
        <script src="{{ 'js/script.js'|staticfile }}"></script> 
    </body>
</html>
