<!DOCTYPE HTML> 
<html>
	<!-- 
		Author: Isaac Addis
		Description: For Pilot Operation 
	-->
	<head>
		<link rel="stylesheet" href="{{ 'css/bulma.min.css'|staticfile }}"> 

		<link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|staticfile }}"> 
		
		<title>2018 45C Robotics</title>
	</head>
	<body>
		<nav class="navbar is-info  role navigation" aria-label="main navigation">
		    <div class="navbar-brand">
		        <a class="navbar-brand navbar-item" href="index.html">
		        45C Robotics
		        </a>
		        <div class="navbar-end">
		            <a class="navbar-item" style = "color:white">
		            Temp 1: <span id="temp"></span>
		            </a>
		            <a class="navbar-item" style = "color:white">
		            Temp 2: <span id="temp2"></span>
		            </a>
		            <a class="navbar-item" style = "color:white">
		            Voltage 1: <span id="volt"></span>
		            </a>
		            <a class="navbar-item" style = "color:white">
		            Voltage 2: <span id = "volt2"></span>
		            </a>
		        </div>
		    </div>
		</nav>
		<br>
		<center>
			<h3 class = "title is-3">Operation</h3>
		</center>
        <section class="Aligner " style = "">
			<br>
			<div class = "is-grouped">
				
						<div class="">
							<center>
							Timer: <span id="timer"></span>
							<span id="countdown">15:00:00</span>
							<form id="example2form">
							  <input class = " button is-primary is-rounded" type='button' value='Play/Pause' onclick='Example2.Timer.toggle();' />
							  <input class = " button is-primary is-warning" type='button' value='Stop/Reset' onclick='Example2.resetCountdown();' />
							</form>
							</center>
						</div>

			</div>
		</section>
		<!-- Non-pilot and Pilots -->
		<div class="columns">
			<div class="container column">
					<p class="menu-label">
						Non-pilots
					</p>
					<ul class="">
						<li>Using flight data to determine the search zone for the wreckage</li>
						<li>Using tidal data and nautical chart to determine the optimum location for a tidal turbine</li>
						<li>Determining the optimum location</li>
						<li>Using tidal current data to calculate the maximum possible megawatt generation at this location</li>
					</ul>
			</div>
			<div class="container column">
				<h5 class="menu-label">Pilot Control</h5>
				<ul>
				<li>On board: Grab 2 eelgrass sample with bottom claw</li>
				<li>Underwater: Drop 2 eelgrass samples in the drop off grid</li>
				<li>Underwater: Collect 2 eelgrass samples with bottom claw</li>
				<li>Disconnecting the OBS cable connector from the power and communications hub</li>
				<li>Closing the door of the power and communications hub</li>
				<li>Releasing the OBS from the anchor using A frequency-selective acoustic release</li>
				<li>Move ROV back to pool side while pushing OBS</li>
				<li>Returning the OBS to the side of the pool</li>
				<li>Retrieve ROV from pool</li>
				<li>Collecting two samples of eelgrass for topside analysis</li>
				<li>Attach 1 lift bags to bottom claw and 1 to front claw ROV and submerge back in the pool</li>
				<li>Attach bottom lift bag to debris</li>
				<li>Inflate lift bag / move away from debris area</li>
				<li>Attach front lift bag to engine</li>
				<li>Inflate lift bag</li>
				<li>Move lift bags and engine to pool side and retrieve ROV</li>
				</ul>
			</div>
		</div>
		<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

		<script src="{{ 'js/canvas.min.js'|staticfile }}"></script>

		<script src="{{ 'js/jquery.timer.js'|staticfile }}"></script>

		<script src="{{ 'js/script.js'|staticfile }}"></script> 
		<script src="{{ 'js/opControl.js'|staticfile }}"></script> 

		<script>
		// Common functions
		function pad(number, length) {
			var str = '' + number;
			while (str.length < length) {str = '0' + str;}
			return str;
		}
		function formatTime(time) {
			var min = parseInt(time / 6000),
				sec = parseInt(time / 100) - (min * 60),
				hundredths = pad(time - (sec * 100) - (min * 6000), 2);
			return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2) + ":" + hundredths;
		}
		var Example2 = new (function() {
			var $countdown,
				$form, // Form used to change the countdown time
				incrementTime = 70,
				currentTime = 90000,
				updateTimer = function() {
					$countdown.html(formatTime(currentTime));
					if (currentTime == 0) {
						Example2.Timer.stop();
						timerComplete();
						Example2.resetCountdown();
						return;
					}
					currentTime -= incrementTime / 10;
					if (currentTime < 0) currentTime = 0;
				},
				timerComplete = function() {
					alert('Countdown timer complete!');
				},
				init = function() {
					$countdown = $('#countdown');
					Example2.Timer = $.timer(updateTimer, incrementTime, false);
					$form = $('#example2form');
					$form.bind('submit', function() {
						Example2.resetCountdown();
						return false;
					});
				};
			this.resetCountdown = function() {
				//var newTime = parseInt($form.find('input[type=text]').val()) * 100;
				//if (newTime > 0) {currentTime = newTime;}
				currentTime=90000;
				this.Timer.stop().once();
			};
			$(init);
		});
		</script>
	</body>
</html>
