<!DOCTYPE HTML> 
<html>
	<!-- 
		Author: Isaac Addis
		Description: For Pilot Operation 
	-->
	<head>
		<link rel="stylesheet" href="{{ 'css/bulma.min.css'|staticfile }}"> 

		<link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|staticfile }}"> 
		
		<title>2018 45C Robotics</title>
	</head>
	<body>
		<nav class="navbar is-info  role navigation" aria-label="main navigation">
		    <div class="navbar-brand">
		        <a class="navbar-brand navbar-item" href="index.html">
		        45C Robotics
		        </a>
		        <div class="navbar-end">
		            <a class="navbar-item" style = "color:white">
		            Temp 1: <span id="temp"></span>
		            </a>
		            <a class="navbar-item" style = "color:white">
		            Temp 2: <span id="temp2"></span>
		            </a>
		            <a class="navbar-item" style = "color:white">
		            Voltage 1: <span id="volt"></span>
		            </a>
		            <a class="navbar-item" style = "color:white">
		            Voltage 2: <span id = "volt2"></span>
		            </a>
		        </div>
		    </div>
		</nav>
		<br>
		<center>
			<h4 class = "title is-4" >System State: <span id = "state">Healthy!</span></h4>
		</center>
		<br>
		<center>
			<h3 class = "title is-3">Operation</h3>
		</center>
        <section class="Aligner " style = "">
			<br>
			<div class = "is-grouped">
				
						<div class="">
							<center>
							Timer: <span id="timer"></span>
							<span id="countdown">15:00:00</span>
							<form id="example2form">
							  <input class = " button is-primary is-rounded" type='button' value='Play/Pause' onclick='Example2.Timer.toggle();' />
							  <input class = " button is-primary is-warning" type='button' value='Stop/Reset' onclick='Example2.resetCountdown();' />
							</form>
							</center>
						</div>

			</div>
		</section>
		<!-- Non-pilot and Pilots -->
		<div class="columns">
			<div class="container column">
					<p class="menu-label">
						Non-pilots
					</p>
					<ul class="">
						<li>Lift of the ROV: 1.645 kg x 9.8 m/s^2 = 16 N</li>
						<li>Flight Engineer Crew test pH and Phosphate levels</li>
						<li>Record the date, time, temperature, pH, phosphate and species on data sheet</li>
						<li>Identifying and counting the number of cracks</li>
						<li>Mapping the locations of the cracks</li>
						<li>Using image recognition to determine the number and type of benthic species</li>
					</ul>
			</div>
			<div class="container column">
				<h5 class="menu-label">Pilot Control</h5>
				<ul>
				<li>Reef Ball (Back Claw) and Fish Cup (Front Claw)</li>
				<li><b>Robot Dive</b></li>
				<li>Installing Reef Ball and Releasing 2 Trout Fries (Fishes)</li>
				<li>Temperature Outside Measurment</li>
				<li>Collecting Water Sample PH and Phosphate (Front Claw)</li>
				<li>Removing the damaged screen of trash rack (Knock over and use Back Claw)</li>
					<li><b>Robot Recovery</b></li>
				<li>New Screen Rack on front claw, Identification on Back Claw</li>
					<li><b>Robot Dive</b></li>
				<li>Installing a new screen of trash rack</li>
				<li>Following a transect line</li>
				<li>Lifting a rock from the bottom for Image Recognition</li>
				<li>Identifying and marking the location of metal cannon shells</li>
					<li><b>Robot Recovery</b></li>
				<li>Rocks (Grout) Cup on front claw</li>
					<li><b>Robot Dive</b></li>
					<li>Inserting grout into voids underneath the dam</li>
					<li>Removing a degraded rubber tire</li>
						<li><b>Robot Recovery</b></li>
					<li>Micro ROV Connection</li>
						<li><b>Robot Dive</b></li>
					<li>Deploying a secondary micro-ROV</li>
				</ul>
			</div>
		</div>
		<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

		<script src="{{ 'js/canvas.min.js'|staticfile }}"></script>

		<script src="{{ 'js/jquery.timer.js'|staticfile }}"></script>

		<script src="{{ 'js/script.js'|staticfile }}"></script> 
		<script src="{{ 'js/opControl.js'|staticfile }}"></script> 

		<script>
		// Common functions
		function pad(number, length) {
			var str = '' + number;
			while (str.length < length) {str = '0' + str;}
			return str;
		}
		function formatTime(time) {
			var min = parseInt(time / 6000),
				sec = parseInt(time / 100) - (min * 60),
				hundredths = pad(time - (sec * 100) - (min * 6000), 2);
			return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2) + ":" + hundredths;
		}
		var Example2 = new (function() {
			var $countdown,
				$form, // Form used to change the countdown time
				incrementTime = 70,
				currentTime = 90000,
				updateTimer = function() {
					$countdown.html(formatTime(currentTime));
					if (currentTime == 0) {
						Example2.Timer.stop();
						timerComplete();
						Example2.resetCountdown();
						return;
					}
					currentTime -= incrementTime / 10;
					if (currentTime < 0) currentTime = 0;
				},
				timerComplete = function() {
					alert('Countdown timer complete!');
				},
				init = function() {  
					$countdown = $('#countdown');
					Example2.Timer = $.timer(updateTimer, incrementTime, false);
					$form = $('#example2form');
					//$form.bind('submit', function() {
						//Example2.resetCountdown();
						//return false;
					//});
				};
			this.resetCountdown = function() {
				//var newTime = parseInt($form.find('input[type=text]').val()) * 100;
				//if (newTime > 0) {currentTime = newTime;}
				currentTime=90000;
				this.Timer.stop().once();
			};
			$(init);
		});
/*
		Javascript-backed SmartSystem
	*/
	function smartSystem(mode,val){
		var state = $("#state");
		//Remove any previous styling
		state.removeClass();
		/*
			Temperature sensors 1 and 2
		*/
		if(mode=="T1" || mode=="T2"){
			if(val>0 && val<85){
				state.text("Healthy!");
			}
			else if(val<0 || val>150){
				if(mode=="T1"){
					state.text("Possible Broken Temp1 Sensor!");
				}
				else if(mode=="T2"){
					state.text("Possible Broken Temp2 Sensor!");
				}
				state.addClass("is-danger");
				//todo: panic? system
			}
			else{
				state.text("Critical.");
				state.addClass("is-warning");
				//todo: warning state?
			}
		}
		/*
			12 Volt Sensor
		*/
		if(mode="V1"){
			if(val>17 || val < 5){
				state.addClass("is-danger");
				state.text("Possible Broken 12v Sensor!")
			}
			else{
				state.text("Healthy!");
			}
		}
		/*
			5 Volt Sensor
		*/
		if(mode="V2"){
			if(val> 7 || val<2){
				state.addClass("is-danger");
				state.text("Possible Broken 5v Sensor!")
			}
			else{
				state.text("Healthy!");
			}
		}
	}

	/*
		The functions displaying serial information on the GUI. 
		@param Data coming in from serial.py. 
	*/
		function t1(msg){
				alert(msg);
				smartSystem("T1",msg);
				console.log(msg);
				$('#temp').text(msg);
		}
		function t2(msg){
				alert(msg);
				smartSystem("T2",msg);
				console.log(msg);
				$('#temp2').text(msg);
		}
		function v1(msg){
				alert(msg);
				smartSystem("V1",msg);
				console.log(msg);
				$('#volt').text(msg);
		}
		function v2(msg){
				alert(msg);
				smartSystem("V2",msg);
				console.log(msg);
				$('#volt2').text(msg);
		}
		</script>
	</body>
</html>
