<!DOCTYPE HTML> 
<html>
<head>
	<!-- 
		Author: Isaac Addis
		Description: Pre-operation
	 -->
	<link rel="stylesheet" href="{{ 'css/bulma.min.css'|staticfile }}"> 

	<link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|staticfile }}"> 
	
	<title>2018 45C Robotics</title>
</head>
<body>
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="">
	      45C Robotics
	    </a>
	    <div class="navbar-end">
	    	<a class="navbar-item">
	    		Temp: <span id="temp"></span>
	    	</a>
	    	<a class="navbar-item">
	    		Voltage: <span id = "volt"></span>
	    	</a>
	    </div>
	  </div>
	</nav>
	<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

	<script src="{{ 'js/canvas.min.js'|staticfile }}"></script>

	<script src="{{ 'js/timer.js'|staticfile }}"></script>

	<script src="{{ 'js/script.js'|staticfile }}"></script> 

</body>
</html>