<!DOCTYPE HTML> 
<html>
<head>
	<!-- 
		Author: Isaac Addis
		Description: Pre-operation
	 -->
	<link rel="stylesheet" href="{{ 'css/bulma.min.css'|staticfile }}"> 

	<link rel="stylesheet" href="{{ 'css/font-awesome.min.css'|staticfile }}"> 
	
	<title>2018 45C Robotics</title>
</head>
<body>
	<nav class=" navbar is-link is-transparent  role navigation" aria-label="main navigation">
	    <div class="navbar-brand">
	        <a class="navbar-brand navbar-item" href="">
	        45C Robotics
	        </a>
	        <div class="navbar-end">
	            <a class="navbar-item">
	            Temp 1: <span id="temp"></span>
	            </a>
	            <a class="navbar-item">
	            Temp 2: <span id="temp2"></span>
	            </a>
	            <a class="navbar-item">
	            Voltage 1: <span id="volt"></span>
	            </a>
	            <a class="navbar-item">
	            Voltage 2: <span id = "volt2"></span>
	            </a>
	        </div>
	    </div>
	</nav>
	<br>
	<section class="Aligner " style = "height:100vh">
	    <div class="">
	        <div class = "Aligner-item" id = "checklist">
	        	<p class="menu-label">
	        	  Pre-Operation Checklist
	        	</p>
	        	<ul class="menu-list">
	        	  <li>
	        	    <a class="is-active">Vehicle Inspection</a>
	        	    <ul>
	        	      <li><a>Inspect for sufficient grease on rotatable claw-bearing</a></li>
	        	      <li><a>Inspect/secure all cable penetrators</a></li>
	        	      <li><a>Inspect all wiring epoxy on Servo Actuators</a></li>
			      <li><a>Inspect all wiring epoxy on Servo Actuators</a></li>
				     <li><a>Ensure all motor guards are tightly secure</a></li>
				      <li><a>Ensure the frame is securely attached</a></li>
				     <li><a>Ensure cap for Micro ROV connector and vent cap is secure</a></li>
	        	    </ul>
	        	  </li>
				 <li>
	        	    <a class="is-active">Tether and Tether Management Subsystem</a>
	        	    <ul>
	        	      <li><a>Inspect the tether for visible damage</a></li>
	        	      <li><a>Ensure the tether cable is neatly coiled</a></li>
	        	      <li><a>Ensure proper connection from the ROV to the control box</a></li>
			  
	        	    </ul>
	        	  </li>
<li>
	        	    <a class="is-active">Safety Inspection</a>
	        	    <ul>
	        	      <li><a>Verify the location of first aid kits, fire extinguishers, and other safety equipment</a></li>
	        	      <li><a>Verify that the risk management plan developed earlier has been fully implemented</a></li>
	        	
			  
	        	    </ul>
	        	  </li>

	        	</ul>
	        </div>
	    </div>
	</section>
	<script src="{{ 'js/jquery.min.js'|staticfile }}"></script>

	<script src="{{ 'js/canvas.min.js'|staticfile }}"></script>

	<script src="{{ 'js/timer.js'|staticfile }}"></script>

	<script src="{{ 'js/script.js'|staticfile }}"></script> 
	
	<script src="{{ 'js/opControl.js'|staticfile }}"></script> 

</body>
</html>
