.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
section{
}
.button{
  display: inline-block;
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), 
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), 
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'),
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}